<nav-bar> </nav-bar>
	
	<div *ngFor="let question of quizQuestion; let j= index">
		<div>
			<p>{{question.questionText}} {{j}}</p>
			<ul>
				<li *ngFor="let answer of question.answers; let i = index">
					<label>
						<input type="radio" (change)="getAnswer(j, answer.correct)" name="{{j}}" [value]="answer.correct">
						{{answer.answerText}}
					</label>
				</li>
			</ul>
		</div>
		
	</div>


	<button type="button" (click)="quizResultFn()">Submit</button>