

<form (ngSubmit)="registerUser($event)" [formGroup]="registerForm">

	<div>
		<span> First Name</span>
		<input type="text" [(ngModel)]="register.fName" formControlName="fName" placeholder="First Name" name="fName" />

		<p *ngIf="!registerForm.controls['fName'].valid">
			<small *ngIf="registerForm.controls['fName'].hasError('minlength') && registerForm.controls['fName'].touched && !registerForm.controls['fName'].hasError('required')">Invalid fName</small>
			
			<small *ngIf="registerForm.controls['fName'].hasError('required') && registerForm.controls['fName'].touched ">First Name Required</small>
		</p>
		
	</div>
	<div>
		<span> Last Name</span>
		<input type="text" [(ngModel)]="register.lName" formControlName="lName" placeholder="Last Name" name="lName" />

		<p *ngIf="!registerForm.controls['lName'].valid">
			<small *ngIf="registerForm.controls['lName'].hasError('minlength') && registerForm.controls['lName'].touched && !registerForm.controls['lName'].hasError('required')">Invalid Last Name</small>
			
			<small *ngIf="registerForm.controls['lName'].hasError('required') && registerForm.controls['lName'].touched ">Last Name Required</small>
			
		</p>
		
		
	</div>
	<div>
		<span> Credentials</span>
		<input type="text" [(ngModel)]="register.title" formControlName="title" placeholder="title" name="title" />

		<p *ngIf="!registerForm.controls['title'].valid">
			<small *ngIf="registerForm.controls['title'].hasError('minlength') && registerForm.controls['title'].touched && !registerForm.controls['title'].hasError('required')">Invalid title</small>
			
			<small *ngIf="registerForm.controls['title'].hasError('required') && registerForm.controls['title'].touched ">Credential Required</small>
			
		</p>
	</div>
	<div>
		<span> year of licaence</span>
		<input type="text" [(ngModel)]="register.yearOfLicence" formControlName="yearOfLicence" placeholder="yearOfLicence" name="yearOfLicence" />
		<p *ngIf="!registerForm.controls['yearOfLicence'].valid">
			<small *ngIf="registerForm.controls['yearOfLicence'].hasError('minlength') && registerForm.controls['yearOfLicence'].touched && !registerForm.controls['yearOfLicence'].hasError('required')">Invalid yearOfLicence</small>
			<small *ngIf="registerForm.controls['yearOfLicence'].hasError('required') && registerForm.controls['yearOfLicence'].touched ">Credential Required</small>
		</p>
		
	</div>
	<div>
		<span> Email</span>
		<input type="text" [(ngModel)]="register.email" formControlName="email" placeholder="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" />

		<p *ngIf="!registerForm.controls['email'].valid">
			<small *ngIf="registerForm.controls['email'].hasError('minlength') && registerForm.controls['email'].touched && !registerForm.controls['email'].hasError('required')">Invalid Email</small>
			
			<small *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched ">Email Required</small>

			<small *ngIf="registerForm.controls['email'].hasError('pattern') && registerForm.controls['email'].touched ">Pattern error</small>
			
		</p>
		
		<small *ngIf="serverMessageError">Email already exist</small>
		
	</div>

	<div>
		<span> Npi</span>
		<input type="text" [(ngModel)]="register.npi" formControlName="npi" placeholder="npi" name="npi" />
		<p *ngIf="!registerForm.controls['npi'].valid">
			<small *ngIf="registerForm.controls['npi'].hasError('minlength') && registerForm.controls['npi'].touched && !registerForm.controls['npi'].hasError('required')">Invalid Npi</small>
			
			<small *ngIf="registerForm.controls['npi'].hasError('required') && registerForm.controls['npi'].touched ">Npi Required</small>
			
		</p>

		
	</div>
	<div>
		<input type="submit" value="submit">
	</div>
	
</form>