

<form (ngSubmit)="signInUser($event)" [formGroup]="loginForm">
	<div>
		<span> Email</span>
		<input type="text" [(ngModel)]="login.email" formControlName="email" placeholder="email" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />

		<p *ngIf="!loginForm.controls['email'].valid">
			<small *ngIf="loginForm.controls['email'].hasError('minlength') && loginForm.controls['email'].touched && !loginForm.controls['email'].hasError('required')">Invalid Email</small>
			
			<small *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched ">Email Required</small>
			<small *ngIf="loginForm.controls['email'].hasError('pattern') && loginForm.controls['email'].touched ">Pattern error</small>
			
		</p>
		
		<small *ngIf="serverMessageError">Server Message</small>
		
	</div>

	<div>
		<span> Npi</span>
		<input type="text" [(ngModel)]="login.npi" formControlName="npi" placeholder="npi" name="npi" />
		<p *ngIf="!loginForm.controls['npi'].valid">
			<small *ngIf="loginForm.controls['npi'].hasError('minlength') && loginForm.controls['npi'].touched && !loginForm.controls['npi'].hasError('required')">Invalid Npi</small>
			
			<small *ngIf="loginForm.controls['npi'].hasError('required') && loginForm.controls['npi'].touched ">Npi Required</small>
			
		</p>

		
	</div>
	<div>
		<input type="submit" value="submit">
	</div>
	
</form>


<a routerLink="/register">Register</a>

